<h1>All our cocktails</h1>


<%= link_to 'New cocktail', new_cocktail_path %>

  <div class="row row-cols-1 row-cols-md-4">
    <% @cocktails.reverse.each do |cocktail| %>
      <div class="card text-white bg-dark col mb-3 mx-2">
        <img src="<%= asset_path( 'cocktail.jpg' ) %>" class="card-img-top" alt="Description of the cocktail">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">⭐ Most popular</small>
        </div>
      </div>
    <% end %>
  </div>

