<h1>Add A New Dose</h1>
<%= simple_form_for [cocktail, dose] do |f| %>
  <%= f.input :cocktail %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<!-- Add pe f.association :description to this form -->
